.locomotive {
  text-align: center;
  padding: 5%;
  position: relative;
}
.locomotive__img {
  width: 100%;
  margin-bottom: 5vw;
}

.locomotive__text {
  color: var(--primary-color);
  font-family: "Gilroy-Regular", sans-serif;
  text-align: left;
  font-size: 3vw;
  line-height: 1.8;
  opacity: 0.8;
  margin-bottom: 15%;
}

.text-part {
  display: block;
  margin-bottom: 1vw;
}

@media only screen and (min-width: 601px) {
  .locomotive {
    margin-left: 20%;
    margin-right: 20%;
  }
  .locomotive__text {
    font-size: 1.2vw;
  }
}
