.hello-container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  left: 21%;
  top: 10%;
  padding: 1vw;
}
.hello-container__message {
  color: var(--primary-color);
  font-family: "Gilroy-Regular", sans-serif;
  opacity: 80%;
  font-size: 2.5vw;
  margin: 1vw 0;
}
.hello-container__logo {
  width: 10%;
  height: 10%;
  margin-right: 2vw;
}

.hello-container__smiley {
  width: 8%;
  height: 8%;
}
.hello-container__pointer {
  width: 1vw;
  height: 1vw;
  position: absolute;
  background-color: #ffffff;
  transform: rotate(45deg);
  top: 90%;
}
.hello-container__dot {
  width: 5%;
  position: absolute;
  top: 110%;
}

@media only screen and (min-width: 601px) {
  .hello-container {
    padding: 0;
  }
  .hello-container__message {
    font-size: 1.8vw;
    margin: 1vw 0;
  }
  .hello-container__logo {
    width: 8%;
    height: 8%;
    margin-right: 2vw;
  }

  .hello-container__smiley {
    width: 6%;
    height: 6%;
  }
}
